
* {
  margin: 0;
  box-sizing: border-box;
}
a {
	text-decoration: none;
	color: inherit;
}

/* DEFAULT FONTS */

body {
	font-family: 'Minion Pro', 'Adobe Caslon Pro', serif;
	/*font-family: proxima-nova, Proxima Nova, Helvetica Neue, sans-serif;*/
	font-size: 10px;
	font-weight: 300;
	color: #555;
}

#nav, #header .logo, #intro .copy, .title {
	font-family: 'proxima-nova', 'Proxima Nova', 'Helvetica Neue', sans-serif;
}

/* GRID */

#intro, .ideas_, .content_.divider, .ideas .piece.--carousel .caption {
	margin: 0 150px;
}
.ideas .piece.--carousel .image-set {
	transform: translateX(150px);
}
#nav {
	width: 150px;
}

.ideas .piece_.image-set {
	width: 66%;
}
.ideas .piece_.caption {
	width: 33%;
}
.ideas .piece.--carousel .image {
	max-width: calc(100% - .66*300px); /* Padding (300px) needs to be taken away from width of image-set (.66%) */
}

/* GENERAL */

.divider, .content_.divider {
	width: 40px;
	height: 2px;
	background-color: #555;
}

.text-link {
	border-bottom: 1px solid #ABD0E0;
	transition: opacity .15s ease-out;
}
.text-link:hover {
	opacity: .6;
}

.--no-gap {
	margin: 0 !important;
}

/* HEADER */

#header {
	height: 180px;
	width: 100%;
	background-color: #f1f1f1;
	background: url("../images/header.jpg") no-repeat;
	background-size: auto 100%;
	background-position: 34px 0;
	margin-bottom: 100px;
}

#header .logo {
	position: absolute;
	top: 65px;
	left: 298px;
	font-size: 5em;
}

/* NAV */

#nav {
	position: absolute;
	top: 284px;
}


.nav-list {
	padding: 0;
}
.nav-item {
	list-style: none;
	text-transform: uppercase;
	font-style: italic;
}

.nav-item:hover {
	opacity: .5;
}

#main-nav {
	margin-left: 40px;
}

.main_.nav-link {
	display: block;
	font-size: 1.4em;
	padding: 20px 0;
}
.main_.nav-item:first-child .nav-link {
	padding-top: 0;
}
.main_.nav-item:last-child .nav-link {
	padding-bottom: 0;
}

#work .nav-item.--active {
	color: #48A4CE;
}

/* CONTENT */

.content_.divider {

}

/* INTRO */

#intro {
	margin-bottom: 80px;
}

.intro_.tagline {
	margin-bottom: 40px;
	font-size: 2em;
	font-weight: 700;
	color: #bbb;
}
.intro_.tagline .--ux {
	color: #9C9C9C;
}
.intro_.description {
	margin-top: 40px;
}
.intro_.copy {
	font-size: 2.8em;
	margin-bottom: 40px;
}

/* IDEAS */

.ideas_.piece {
	padding: 120px 0;
}

.ideas_.title {
	margin-top: 60px;
	margin-bottom: 40px;
	font-size: 4em;
	font-weight: 600;
}

.ideas .piece_.title {
	margin-bottom: 20px;
	font-size: 2.8em;
	font-weight: 500;
}

.ideas .piece_.image-set {
	display: inline-block;
	vertical-align: top;
}
.ideas .piece_.image {
	display: block;
	margin: 0 auto;
	max-width: 100%;
	max-height: 80vh;
}
.ideas .piece_.image.--bordered {
	border: 2px solid #eee;
}
.ideas .piece_.image.--app-icon {
	border-radius: 25%;
}

.ideas .piece.--captioned .caption {
	display: inline-block;
	padding-left: 40px;
	vertical-align: top;
}
.ideas .piece_.copy, .ideas .piece_.info {
	font-size: 1.4em;
	margin-bottom: 20px;
}

.ideas .piece_.info {
	font-style: italic;
	color: #969696;
	margin-bottom: 40px;
}

.ideas_.divider {
	width: auto;
	height: 1px;
	background-color: #D0D0D0;
}

/* --CAROUSEL-- */

.ideas .piece.--carousel {
	margin: 0;
	overflow: hidden;
}
.ideas .piece.--carousel .image-set {
	position: relative;
	white-space: nowrap;
	transition: all .6s cubic-bezier(.29, .15, 0.34, 1);
}
.ideas .piece.--carousel .image {
	display: inline-block;
	max-height: 70vh;
	margin-right: 80px;
	vertical-align: middle;
	opacity: .15;
	cursor: pointer;
	transition: inherit;
}
.ideas .piece.--carousel .image:hover {
	opacity: .6;
}
.ideas .piece.--carousel .caption {
	display: inline-block;
	margin-top: 40px;
}


.ideas .piece.--carousel .image.--active {
	opacity: 1;
}


.ideas .piece.--carousel .thumbnail-set {
	position: relative;
	left: 0;
	margin-top: 40px;
	text-align: center;
	transition: all .5s cubic-bezier(.29, .15, 0.34, 1);
}
.ideas .piece.--carousel .thumbnail {
	display: inline-block;
	width: 12px;
	height: 12px;
	border-radius: 50%;
	background-color: #ccc;
	margin: 0 5px;
	cursor: pointer;
	transform: scale(calc(8 / 12));
	transition: inherit;
}

.ideas .piece.--carousel .thumbnail:hover {
	transform: scale(1);
}

.ideas .piece.--carousel .thumbnail.--active  {
	background-color: #63a7b7;
	background-color: #999;
	transform: scale(1);
}

/* --PORTFOLIO-- */

#portfolio {
	margin-bottom: 100px;
}

#work .content_.divider {
	width: auto;
    height: 5px;
    background-color: #EAEAEA;
    margin-right: 0;
}

/* --BLOG-- */




/* ALL TESTS */

body:not([class*="test"]) .test-only {
	display: none;
}

/* TEST - GRID OVERLAY */

.test-grid .test-only:not(.grid-overlay){
	display: none;
}

.grid-overlay {
	position: fixed;
	top: 0; right: 0; bottom: 0; left: 0;
	background-color: #f2f2f2;
	opacity: .3;
	z-index: 1000;
	pointer-events: none;
}

.grid-overlay_.col-half {
	position: absolute;
	left: 50%;
	top: 0;
	width: 1px;
	height: 100%;
	background-color: #ff0000;
}

.test-grid .image-after {
	content: "";
	display: inline-block;
	display: none;
	position: relative;
	width: 3px;
	height: 80vh;
	opacity: .5;
	background-color: #0bf;
	z-index: 10;
	vertical-align: top;
}




