
* {
  margin: 0;
  box-sizing: border-box;
}
a {
	text-decoration: none;
	color: inherit;
}

/* DEFAULT FONTS */

body {
	font-family: 'Minion Pro', 'Adobe Caslon Pro', serif;
	/*font-family: proxima-nova, Proxima Nova, Helvetica Neue, sans-serif;*/
	font-size: 10px;
	font-weight: 300;
	color: #555;
}

#nav, #header .logo, #intro .copy, .title {
	font-family: 'proxima-nova', 'Proxima Nova', 'Helvetica Neue', sans-serif;
}

/* GRID */

#intro, .ideas_, .content_.divider, .ideas .piece.--carousel .caption {
	margin: 0 150px;
}
.ideas .piece.--carousel .image-set {
	transform: translateX(150px);
}
#nav {
	width: 150px;
}

.ideas .piece_.image-set {
	width: 66%;
}
.ideas .piece_.caption {
	width: 33%;
}
.ideas .piece.--carousel .image {
	max-width: calc(100% - .66*300px); /* Padding (300px) needs to be taken away from width of image-set (.66%) */
}

/* GENERAL */

.divider, .content_.divider {
	width: 40px;
	height: 2px;
	background-color: #555;
}

.text-link {
	border-bottom: 1px solid #ABD0E0;
	transition: opacity .15s ease-out;
}
.text-link:hover {
	opacity: .6;
}

.--no-gap {
	margin: 0 !important;
}

/* HEADER */

#header {
	height: 180px;
	width: 100%;
	background-color: #f1f1f1;
	background: url("../images/header.jpg") no-repeat;
	background-size: auto 100%;
	background-position: 34px 0;
	margin-bottom: 100px;
}

#header .logo {
	position: absolute;
	top: 65px;
	left: 298px;
	font-size: 5em;
}

/* NAV */

#nav {
	position: absolute;
	top: 284px;
}


.nav-list {
	padding: 0;
}
.nav-item {
	list-style: none;
	text-transform: uppercase;
	font-style: italic;
}

.nav-item:hover {
	opacity: .5;
}

#main-nav {
	margin-left: 40px;
}

.main_.nav-link {
	display: block;
	font-size: 1.4em;
	padding: 20px 0;
}
.main_.nav-item:first-child .nav-link {
	padding-top: 0;
}
.main_.nav-item:last-child .nav-link {
	padding-bottom: 0;
}

#work .nav-item.--active {
	color: #48A4CE;
}

/* CONTENT */

.content_.divider {

}

/* INTRO */

#intro {
	margin-bottom: 80px;
}

.intro_.tagline {
	margin-bottom: 40px;
	font-size: 2em;
	font-weight: 700;
	color: #bbb;
}
.intro_.tagline .--ux {
	color: #9C9C9C;
}
.intro_.description {
	margin-top: 40px;
}
.intro_.copy {
	font-size: 2.8em;
	margin-bottom: 40px;
}

/* IDEAS */

.ideas_.piece {
	padding: 120px 0;
}

.ideas_.title {
	margin-top: 60px;
	margin-bottom: 40px;
	font-size: 4em;
	font-weight: 600;
}

.ideas .piece_.title {
	margin-bottom: 20px;
	font-size: 2.8em;
	font-weight: 500;
}

.ideas .piece_.image-set {
	display: inline-block;
	vertical-align: top;
}
.ideas .piece_.image {
	display: block;
	margin: 0 auto;
	max-width: 100%;
	max-height: 80vh;
}
.ideas .piece_.image.--bordered {
	border: 2px solid #eee;
}
.ideas .piece_.image.--app-icon {
	border-radius: 25%;
}

.ideas .piece.--captioned .caption {
	display: inline-block;
	padding-left: 40px;
	vertical-align: top;
}
.ideas .piece_.copy, .ideas .piece_.info {
	font-size: 1.4em;
	margin-bottom: 20px;
}

.ideas .piece_.info {
	font-style: italic;
	color: #969696;
	margin-bottom: 40px;
}

.ideas_.divider {
	width: auto;
	height: 1px;
	background-color: #D0D0D0;
}

/* --CAROUSEL-- */

.ideas .piece.--carousel {
	margin: 0;
	overflow: hidden;
}
.ideas .piece.--carousel .image-set {
	position: relative;
	white-space: nowrap;
	transition: all .6s cubic-bezier(.29, .15, 0.34, 1);
}
.ideas .piece.--carousel .image {
	display: inline-block;
	max-height: 70vh;
	margin-right: 80px;
	vertical-align: middle;
	opacity: .15;
	cursor: pointer;
	transition: inherit;
}
.ideas .piece.--carousel .image:hover {
	opacity: .6;
}
.ideas .piece.--carousel .caption {
	display: inline-block;
	margin-top: 40px;
}


.ideas .piece.--carousel .image.--active {
	opacity: 1;
}


.ideas .piece.--carousel .thumbnail-set {
	position: relative;
	left: 0;
	margin-top: 40px;
	text-align: center;
	transition: all .5s cubic-bezier(.29, .15, 0.34, 1);
}
.ideas .piece.--carousel .thumbnail {
	display: inline-block;
	width: 12px;
	height: 12px;
	border-radius: 50%;
	background-color: #ccc;
	margin: 0 5px;
	cursor: pointer;
	transform: scale(calc(8 / 12));
	transition: inherit;
}

.ideas .piece.--carousel .thumbnail:hover {
	transform: scale(1);
}

.ideas .piece.--carousel .thumbnail.--active  {
	background-color: #63a7b7;
	background-color: #999;
	transform: scale(1);
}

/* --PORTFOLIO-- */

#portfolio {
	margin-bottom: 100px;
}

#work .content_.divider {
	width: auto;
    height: 5px;
    background-color: #EAEAEA;
    margin-right: 0;
}

/* --BLOG-- */




/* ALL TESTS */

body:not([class*="test"]) .test-only {
	display: none;
}

/* TEST - GRID OVERLAY */

.test-grid .test-only:not(.grid-overlay){
	display: none;
}

.grid-overlay {
	position: fixed;
	top: 0; right: 0; bottom: 0; left: 0;
	background-color: #f2f2f2;
	opacity: .3;
	z-index: 1000;
	pointer-events: none;
}

.grid-overlay_.col-half {
	position: absolute;
	left: 50%;
	top: 0;
	width: 1px;
	height: 100%;
	background-color: #ff0000;
}

.test-grid .image-after {
	content: "";
	display: inline-block;
	display: none;
	position: relative;
	width: 3px;
	height: 80vh;
	opacity: .5;
	background-color: #0bf;
	z-index: 10;
	vertical-align: top;
}

/* TEST - CAROUSEL */


.test-carousel .ideas .piece_ .piece-img {
	display: inline-block;
	position: relative;
	left: 0;
	margin: 0;
	width: 15%;
	transition: all 1s ease-in-out;
}
.test-carousel .ideas .piece_ .piece-img.--full, .test-carousel .ideas_.test-a .piece_ .piece-img:nth-of-type(2) {
	width: 66%;
}
.test-carousel .ideas_.test-a .piece_ .piece-img {
	left: -66%;
}

.test-carousel .piece:not(:first-of-type), .test-carousel .caption {
	display: none !important;
}


/* TEST - CAROUSEL A */


.test-carousel-a .ideas_ .piece_.image-set {
	display: inline-block;
	position: relative;
	left: 0;
	white-space: nowrap;
	transition: all 1s ease-in-out;
}

.test-carousel-a .ideas_ .piece_.image {
	display: inline-block;
	margin-right: 60px;
	padding: 170px 0;
	max-width: 40vw;
	height: auto;
	vertical-align: middle;
	transition: all 1s ease-in-out;
}
.test-carousel-a .ideas_.test-a .piece_.image:nth-of-type(1), .test-carousel-a .ideas_.test-b .piece_.image:nth-of-type(2), .test-carousel-a .ideas_.test-c .piece_.image:nth-of-type(3) {
	padding: 0;
}
.test-carousel-a .ideas_.test-b .piece_.image-set {
	left: -210px;
}
.test-carousel-a .ideas_.test-c .piece_.image-set {
	left: -400px;
}

.test-carousel-a .piece:not(:first-of-type) {
	display: none !important;
}



/* TEST - CAROUSEL B */


.test-carousel-b .ideas_ .piece_.image-set {
	display: inline-block;
	position: relative;
	left: 0;
	white-space: nowrap;
	transition: all 1s ease-out;
}

.test-carousel-b .ideas_ .piece_.image {
	display: inline-block;
	/*max-width: 40vw;*/
	height: auto;
	vertical-align: middle;
	/*transform: scale(.4);*/
	transition: all 1s ease-out;
}
.test-carousel-b .ideas_.test-a .piece_.carousel-item:nth-of-type(1), .test-carousel-b .ideas_.test-b .piece_.carousel-item:nth-of-type(2), .test-carousel-b .ideas_.test-c .piece_.carousel-item:nth-of-type(3) {
	max-width: 40vw;
	max-height: 80vh;
}
.test-carousel-b .ideas_.test-b .piece_.image-set {
	transform: translateX(-210px);
}
.test-carousel-b .ideas_.test-c .piece_.image-set {
	transform: translateX(-400px);
}

.test-carousel-b .piece:not(:nth-of-type(2)) {
	display: none !important;
}

.test-carousel-b .ideas .piece_.image {
	margin: 0 auto;
	max-width: 100%;
	max-height: 100%;
}
.test-carousel-b .piece_.carousel-item {
	display: inline-block;
	max-width: 120px;
	max-height: 120px;
	transition: all 1s ease-out;
}

/* TEST - CAROUSEL C */


.test-carousel-c .ideas_ .piece_.image-set {
	display: inline-block;
	position: relative;
	left: 0;
	white-space: nowrap;
	z-index: -1;
	transition: all 1s ease-out;
}

.test-carousel-c .piece_.carousel-item {
	display: inline-block;
	width: 170px;
	height: 80vh;
	margin-right: 60px;
	padding: 170px 0;
	/* background-color: #0bf; */
	vertical-align: middle;
	transition: all 1s ease-out;
}

.test-carousel-c .piece_.image {
	display: inline-block;
	height: auto;
	max-width: 100%;
	max-height: 100%;
	vertical-align: middle;
	transition: all 1s ease-out;
}


.test-carousel-c .ideas_.test-a .piece_.carousel-item:nth-of-type(1), .test-carousel-c .ideas_.test-b .piece_.carousel-item:nth-of-type(2), .test-carousel-c .ideas_.test-c .piece_.carousel-item:nth-of-type(3) {
	width: 100%;
	padding: 0;
}
.test-carousel-c .ideas_.test-a .piece_.carousel-item:nth-of-type(1) .img, .test-carousel-c .ideas_.test-b .piece_.carousel-item:nth-of-type(2) .img, .test-carousel-c .ideas_.test-c .piece_.carousel-item:nth-of-type(3) .img {
	width: 100%; /* Width should be set w/ JS while the image is active */
}
.test-carousel-c .ideas_.test-b .piece_.image-set {
	transform: translateX(-170px);
}
.test-carousel-c .ideas_.test-c .piece_.image-set {
	transform: translateX(-400px);
}

.test-carousel-c .piece:not(:nth-of-type(2)) {
	display: none !important;
}

.test-carousel-c .piece_.carousel-item::before {
    content: "";
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}


/* TEST - CAROUSEL D */

.test-carousel-d .piece_.image-set {
	white-space: nowrap;
}

.test-carousel-d .piece_.main-image {
	position: relative;
}

.test-carousel-d .piece_.image {
	display: inline-block;
	max-width: 100%;
	margin-right: 40px;
	transition: all .5s ease-in-out;
}

.test-carousel-d .piece_.thumbnail {
	display: inline-block;
	width: 50px;
	height: 50px;
	border-radius: 50%;
	margin-right: 10px;
}

.test-carousel-d .piece:not(:nth-of-type(3)) {
	display: none !important;
}


/* TEST - CAROUSEL E */

.test-carousel-e .piece_.image-set {
	position: relative;
	left: 200px;
	white-space: nowrap;
	transition: all .6s ease-out;
}

.test-carousel-e .piece_.image {
	/*position: relative;*/
}

.test-carousel-e .piece_.image {
	display: inline-block;
	max-width: 100%;
	margin-right: 40px;
	opacity: .2;
	transition: inherit;
}


.test-carousel-e .piece.test-a .image:nth-of-type(1) {
	opacity: 1;
}
.test-carousel-e .piece.test-b .image-set{
	left: -300px;
}
.test-carousel-e .piece.test-b .image:nth-of-type(2) {
	opacity: 1;
}

.test-carousel-e .piece:not(:nth-of-type(4)) {
	display: none !important;
}

/* TEST - CAROUSEL F */

.test-carousel-f .piece_.image-set {
	position: relative;
	left: 200px;
	white-space: nowrap;
	transition: all .6s ease-out;
}

.test-carousel-f .piece_.image {
	/*position: relative;*/
}

.test-carousel-f .piece_.image {
	display: inline-block;
	max-width: 100%;
	margin-right: 40px;
	opacity: .2;
	transition: inherit;
}


.test-carousel-f .piece.test-a .image:nth-of-type(1), .test-carousel-f .piece.test-b .image:nth-of-type(2), .test-carousel-f .piece.test-c .image:nth-of-type(3) {
	opacity: 1;
}
.test-carousel-f .piece.test-b .image-set{
	left: -300px;
}
.test-carousel-f .piece.test-c .image-set{
	left: -600px;
}


.test-carousel-f .piece_.thumbnail-set {
	position: relative;
	left: 0;
	margin: 20px 0;
	text-align: center;
	transition: all .4s ease-out;
}
.test-carousel-f .piece_.thumbnail {
	display: inline-block;
	width: 12px;
	height: 12px;
	border-radius: 50%;
	background-color: #ccc;
	margin: 0 4px;
	cursor: pointer;
	transform: scale(calc(7 / 12));
	transition: inherit;
}

.test-carousel-f .piece.test-b .thumbnail-set {
	left: -15px;
}
.test-carousel-f .piece.test-c .thumbnail-set {
	left: -30px;
}

.test-carousel-f .piece_.thumbnail:hover {
	transform: scale(1);
}

.test-carousel-f .piece.test-a .thumbnail:nth-of-type(1), .test-carousel-f .piece.test-b .thumbnail:nth-of-type(2), .test-carousel-f .piece.test-c .thumbnail:nth-of-type(3)  {
	background-color: #63a7b7;
	transform: scale(1);
}

.test-carousel-f .piece:not(:nth-of-type(5)) {
	display: none !important;
}



